.image-container {
  --columns: 4;

  width: min(calc(var(--columns) * 18rem + var(--columns) rem), 90%);
  columns: var(--columns) 18rem;
  gap: 1rem;

  img {
    display: block;
    cursor: zoom-in;
    margin-bottom: 1rem;
    @apply transition-transform;

    &:hover {
      transform: scale(1.025);
    }
  }
}
